
*{
    margin:0;

}

/*hero*/
.container-hero{
    width: 100%;
    height: 600px;
    background-image: url(https://static-cse.canva.com/blob/1144483/removingbackgroundimages_Unsplash.84b2e0c3.avif) ;
}
.filler1{
    height: 200px;
}
.hero.name{
    text-align: center;
    color: #213555;
    font-size: 5rem;
}
.hero.body{
    text-align: center;
    color: #213555;
    font-size: 2rem;
    margin-left: 27%;
    margin-right: 27%;
}
/*about*/
.container-about{
    height: 400px;
    background-color: white;
    
}
.about-title{
    text-align: center;
    font-size: 3rem;
    padding-top: 20px;
    padding-bottom: 35px;
    color: #213555;
}
.main{
    margin-left: 10%;
    margin-right:10%;
}

.tile-image {
    height: 200px;
    float: left;
    padding: 10px;
}

.card-title{
    color: #213555;
}
ul li{
    list-style-type: none;
    color: #4F709C;
    padding:0; 
}
.card-text{
    color: #4F709C;
    padding: 5px;
}

.card {
    width: 45%;
}
  
.left {
    float: left;
}
  
.right {
    float: right;
}
.left.card{
    border: 2px solid #4F709C;

}
.right.card{
    border: 2px solid #4F709C;
}
/*resume*/
.container-projects{
    height: 400px;
    margin-bottom: 20px;
}
.resume-heading{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 3rem;
    color: #213555;
}
.resume-title{
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    color:white;
}
.lists{
    text-align: center;
    padding: 0;
    color:white;
}

a:hover{
    background-color: #F0F0F0;
    border-radius: 10px;
    padding: 5px;
}
.no-bullet-points{
    text-decoration: none;
    color: #4F709C;
}
/*contact*/
.container.contact{
    background-image: url(https://static-cse.canva.com/blob/1144483/removingbackgroundimages_Unsplash.84b2e0c3.avif) ;
    height:400px;
}
.contact-title{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 3rem;
    color: #213555;
}
.email{
    text-align: center;
    text-decoration: none;
    color: #213555;
}
.footer{
    text-align: center;
    margin-top: 75px;
}
.footer-section{
    display:inline-flex;
    padding-left:30px;
    padding-right:30px;
    text-decoration: none;
    color: #213555;
}
@media (min-width: 682px) and (max-width: 1000px){
    .container-projects{
        height: 500px;
    }
}
@media(max-width: 681px){
    .container-hero{
        height: 400px;
    }
    .hero.name{
        font-size: 3rem;

    }
    .hero.body{
        font-size: 1rem;
    }
    .about-title{
        font-size: 2rem;
    }
    .tile-image{
        margin: 0;
    }
    .card {
        width: 100%;
        display: block;
        margin-bottom: 30px;
        text-align: justify;
    }
    .card img {
        margin-bottom: 10px;
        width: 100%;
        display: inline;
        object-fit:scale-down;
    }
    .card-text{
        text-align: center;
    }
    .card-title{
        text-align: center;
    }
    ul li{
        list-style-type: none;
        text-align: center;
    }
    .container-projects{
        height: 1000px;
    }
    .container-about{
        height: 1000px;
    }
    .container.contact{
        margin:0;
        padding-top: 10px;
    }
    .footer-section{
        padding: 5px;
    }
}